#swtor-account {
  float: right;
  position: relative;
  top: 50px;
  min-width: 210px;
  padding-top: 5px;
  cursor: pointer;
}

#swtor-account .account-name a:hover,
#swtor-account .account-name {
  font-size: 140%;
  color: #EEE;
  padding: 10px 10px 0 10px;
  text-decoration: none;
}

#swtor-account .content {
  z-index: 100;
  background-color: #2A2A2A;
  padding: 10px;
  display: none;
}

#swtor-account .content a {
  color: #888;
}

#swtor-account .swtor-account-messages {
  border-top: 1px dotted #888;
  padding-top: 5px;
}

#swtor-account .content .logout {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #FFBA00;
  font: bold;
}

#swtor-account .content a:hover {
  text-decoration: none;
}