body {
  font: 12px "Helvetica Neue",Arial,sans-serif;
  line-height: 18px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

p {
  margin-bottom: 0.6em;
}

.node ul, 
.node ol {
  margin-bottom: 0.5em;
  margin-left: 20px;
}

.node ul>li,
.node ol>li {
  margin-bottom: 0.2em;
}

em {
  font-style: italic;
}

quote {
  font-style: italic;
}

strong, bold {
  font-weight: bold;
}

/* ----- / Headings ----- */
h1, h2, h3, h4, h5 {
  margin: 0 0 10px;
}

h1 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  line-height: 30px;
  margin: 0 0 15px;
  color: #222;
}

h2 {
  font-size: 20px;
  line-height: 24px;
  line-height: 20px;
  margin: 1.5em 0 0.2em;
  font-weight: bold;
  color: #222;
}

h2:first-child {
  margin-top: 0;
}

h3 {
  font-size: 16px;
  margin: 1em 0 0.2em;
  font-weight: bold;
  color: #222;
}

/* ----- / Links ----- */
a,
a:link {
  color: #ffba00;
}

a:visited {
  color: #ecc459;
}

a:hover,
a:focus,
a:active {
  color: #ffffff;
}

li a,
li a.active {
    color: #fff;
}

/*--- Item list ---*/

.item-list ul li a,
.item-list ul li a:link {
  color: #9a9a9a;
  font-size: 90%;
  text-decoration: none;
}

.item-list ul li a:hover {
  color: #ffba00;
}

/*--- User login ---*/

#block-user-login label {
  font-size: 90%;
  font-weight: normal;
}

#block-user-login label a,
#block-user-login label a:hover {
  text-decoration: none;
}

#block-user-login .new-user {
  font-size: 125%;
  font-weight: bold;
}

#block-user-login .new-user a {
  text-decoration: none;
}

#block-user-login .new-user a:hover {
  color: #ffba00;
  text-decoration: underline;
}

/*--- Main-menu ---*/

.nice-menu li a {
  color: #fff;
  font-family: "TitilliumText22LRegular", Arial, sans-serif;
  text-decoration: none;
}

.nice-menu li a:hover {
  color: #ffba00;
}

.node .content a {
  border-bottom: 1px dotted #ffba00;
  margin-bottom: -1px;
  text-decoration: none;
}

.node .content a:link {
  border-bottom: 1px dotted #ffba00;
}

.node .content a:visited {
  border-bottom: 1px dotted #ecc459;
}

.node .content a:hover,
.node .content a:active {
  border: none;
  margin-bottom: 0;
}

/*--- Sidebar second ---*/

.sidebar-second h2 {
  color: #aaa;
  font-family: "TitilliumText22LRegular", Arial, sans-serif;
  font-size: 140%;
}

/*--- Pager ---*/

.item-list .pager {
  color: #fff;
}

.item-list .pager li.pager-current {
  font-weight: normal;
}

.item-list .pager a {
  color: #ffba00;
}