html {
  background: #191919 url('../images/repeat-bg.png') repeat-x fixed center top;
  height: 100%; /* Important for 100% body height*/
}

body {
  background: url('../images/background.jpg') no-repeat fixed center top;
  background
  min-height: 100%;
}

#header {
  background: url('../images/menu-line.jpg') no-repeat center 152px;
  position: relative;
  min-height: 188px;
}

/*--- Logo ---*/

#logo {
  overflow: auto;
  position: absolute;
  top: 25px;
}

/*--- User login ---*/

#block-user-login {
  position: absolute;
  right: 10px;
  top: 44px;
}

#block-user-login #user-login-form {
  width: 411px;
}

#block-user-login label {
  margin: 0 0 2px;
  padding: 0 0 0 5px;
}

#block-user-login .form-item-name,
#block-user-login .form-type-password {
  float: left;
}

#block-user-login .form-item-name {
  margin: 0 5px 0 0;
}

#block-user-login .form-type-password {
  margin: 0;
}

#block-user-login input[type=text],
#block-user-login input[type=password] {
  width: 163px;
}

#block-user-login #edit-actions {
  float: right;
  margin: 20px 0 0;
}

#block-user-login .new-user {
  clear: both;
  padding: 15px 0 0;
  text-align: right;
}

#block-user-login .new-user span {
  margin: 0 10px 0 0;
}

/*--- Nice menus ---*/

#header .block-nice-menus {
  position: inherit;
}

/*--- Main menu ---*/

#header .nice-menu li a {
  display: block;
  padding: 8px 25px;
}

#header .nice-menu {
  background-color: #050505;
  bottom: 0;
  position: absolute;
  width: 100%;
}

#header .nice-menu li.first a {
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  border-radius: 4px 0 0 4px;
}

#header .nice-menu li a.active,
#header .nice-menu li a.active:hover {
  background-color: #2a2a2a;
}

#header .nice-menu li a:hover,
#header .nice-menu li.menuparent a:hover {
  background-color: #1e1e1e;
}

#header .nice-menu li {
  border-right: 1px solid #2d2d2e;
  border-top: 1px solid #1f1f20;
  float: left;
}

#header .nice-menu li.menuparent a {
  background: url('../images/menu-arrow-down.png') no-repeat center right;
  padding: 8px 30px;
}

/*--- Main menu second level ---*/
#header .nice-menu ul {
  margin: 1px 0 0;
  position: absolute;
  z-index: 99;
}

#header .nice-menu ul li {
  background-color: #050505;
  border-right: 0;
  border-top: 1px solid #1f1f20;
  min-width: 140px;
}

#header .nice-menu ul li:hover {
  background-color: #1e1e1e;
}

#header .nice-menu ul li.first a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius:0;
}

#header .nice-menu ul li a,
#header .nice-menu li.menuparent ul li a {
  background: #000;
}

/*--- Misc stuff ---*/

.more-link {
  margin: 5px 0 10px;
}

.more-link a {
  background: url('../images/common-arrow.png') no-repeat 7px 5px;
  font-size: 105%;
  padding: 0 0 0 15px;
  text-decoration: none;
}

.more-link a:hover {
  text-decoration: underline;
}


/*--- Item list ---*/

.item-list ul:not(.pager) li {
  background: url('../images/common-arrow.png') no-repeat 7px 7px;
  margin: 0;
  padding: 0 0 0 15px;
}

/*--- Main ---*/

#main {
  margin: 20px 0 0;
}

/*--- Content ---*/

#content {
  background: rgba(0, 0, 0, .5);
  -moz-border-radius: 12px 12px 0 0;
  -webkit-border-radius: 12px 12px 0 0;
  border-radius: 12px 12px 0 0;
  margin: 0 0 20px;
  padding: 10px 0 20px;
}

#content .content h1 {
  background: url('../images/common-pattern.png');
  padding: 6px 10px;
}

/*--- Sidebar second ---*/

.sidebar-second {
  background: url('../images/common-pattern-vert.png') repeat-y;
}

.sidebar-second h2 {
  background: url('../images/common-pattern.png');
  padding: 10px 10px 6px;
}

.sidebar-second .region {
  padding: 0 0 0 20px;
}

.sidebar-second .block {
  margin: 0 0 20px;
}

.sidebar-second .content {
  overflow: hidden;
  margin: 10px 0 0 7px;
}

/*--- Panels ---*/

.panel-wrapper {
  background: url('../images/common-pattern-vert.png') repeat-y 650px 0;
  overflow: hidden;
  margin: 0 0 20px;
}

/*--- Panels frontpage ---*/

.center-wrapper {
  background: #0b0b0b;
  padding: 10px 0 0;
}

.center-wrapper .center-right.sidebar-second {
  background: none;
}

.center-wrapper .center-right .content {
  margin: 0;
}

.center-wrapper .center-right .region {
  padding: 0;
}

.bottom-wrapper {
  margin: 0;
}

/*--- Forms ---*/

label {
  color: #9d9d9d;
}

textarea,
input[type=text],
input[type=password] {
  background-color: #1d1e1d;
  border: 1px solid #404240;
  -moz-border-radius: 4px;
  -web-kit-border-radius: 4px;
  border-radius: 4px;
  color: #9d9d9d;
  padding: 4px;
}

input[type=checkbox],
input[type=radio] {
  float: left;
  margin: 2px 3px 0 0;
}

input[type=submit] {
  background-color: #444;
  border: 1px solid #787878;
  -moz-border-radius: 4px;
  -web-kit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 3px 7px;
}

input[type=submit]:hover {
  background-color: #333;
  border: 1px solid #4b4b4b;
}

/*--- Social icons ---*/

.header-social-icons {
  position: absolute;
  right: 0;
  top: 15px;
}

.header-social-icons a {
  background: url('../images/social-icons.png') no-repeat;
  display: block;
  float: left;
  height: 23px;
  margin: 0 10px 0 0;
  overflow: hidden;
  text-indent: -10000px;
  width: 22px;
}

.header-social-icons .header-social-icons-twitter {
  background-position: 0 -23px;
}

.header-social-icons .header-social-icons-rss {
  background-position: 0 -45px;
}

/*--- Pager ---*/

.item-list .pager {
  display: block;
  margin: 30px 0;
  text-align: left;
}

.item-list .pager li {
  background-color: #1d1e1d;
  border: 1px solid #404240;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0 0 0 5px;
}

.item-list .pager li.pager-current {
  background-color: #333;
  margin: -2px 0 0;
  padding: 2px 9px;
}

.item-list .pager li.pager-ellipsis {
  background: none;
  border: 0;
  margin: 0 7px;
}
.item-list .pager a {
  padding: 3px 7px;
  text-decoration: none;
}

.item-list .pager a:hover {
  background-color: #333;
}

/*--- Slideshow ---*/

.view-slideshow {
  border: 3px solid #fff;
  position: relative;
  margin: 0 0 20px;
  min-height: 200px;
}

.view-slideshow .views-slideshow-pager-fields-render {
  bottom: 10px;
  position: absolute;
  right: 0;
}

.view-slideshow .views-slideshow-pager-field-item {
  display: block;
  float: left;
}

.view-slideshow .views-slideshow-pager-field-item a {
  background-color: #fff;
  display: block;
  float: left;
  height: 10px;
  overflow: hidden;
  text-indent: -10000px;
  width: 10px;
}

.view-slideshow .views-slideshow-pager-field-item.views_slideshow_active_pager_field_item a {
  background-color: #ffba00;
}

/*--- Articles ---*/

#content .content .articles .article {
  background: url('../images/common-pattern-hori.png') no-repeat 0 bottom;
  clear: both;
  margin: 0 0 25px;
  overflow: hidden;
  padding: 0 0 37px;
}

#content .content .articles .views-row-last.article {
  background: none;
  margin: 0;
}

#content .content .articles .article .image a {
  border: 3px solid #343434;
  float: right;
  overflow: hidden;
}

#content .content .articles .article .image img {
  border: 1px solid #564c4a;
  float: right;
}

#content .content .articles .article .title {
  line-height: 100%;
}

#content .content .articles .article .teaser {
  overflow: hidden;
  margin: 0 10px 0 0;
}

/* !----- / Rotating banner ----- */

.rotating-banner {
  margin: 0 0 20px;
}
  
.rotating-banner .layout-wrapper {
  background: rgba(0,0,0,.75);  
  bottom: 0;
  margin: 0;
  padding: 10px 0;
  position: absolute;
  top: auto;
  width: 100%;
}

.rotating-banner .layout-wrapper div {
  margin: 0 0 0 10px;
}

/*  Make sure the wrapper is a fixed height so we can position the text at the bottom*/
.rotating-banner .rb-slide {
  height: 250px;
}

.rotating-banner .controls.buttons a.activeSlide {
  background: #fff;
}

.rotating-banner .controls {
  bottom: 26px;
  position: absolute;
  right: 10px;
  z-index: 99;
}

/* --------------- System Tabs  --------------- */

.tabs {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}
.tabs ul.primary {
  padding: 0 3px;
  margin: 0;
  overflow: hidden;
  border: none;
  background: transparent url(../images/tabs-border.png) repeat-x left bottom;
}
.tabs ul.primary li {
  display: block;
  float: left; /* LTR */
  vertical-align: bottom;
  margin: 0 5px 0 0; /* LTR */
}
.tabs ul.primary li.active a {
  border-bottom: 1px solid #ffffff;
}
.tabs ul.primary li a {
  color: #000;
  background-color: #ededed;
  height: 1.8em;
  line-height: 1.9;
  display: block;
  font-size: 0.929em;
  float: left; /* not LTR */
  padding: 0 10px 3px;
  margin: 0;
  text-shadow: 0 1px 0 #fff;
  -khtml-border-radius-topleft: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -khtml-border-radius-topright: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
}
.tabs ul.secondary {
  border-bottom: none;
  padding: 0.5em 0;
}
.tabs ul.secondary li {
  display: block;
  float: left; /* LTR */
}
.tabs ul.secondary li:last-child {
  border-right: none; /* LTR */
}
.tabs ul.secondary li:first-child {
  padding-left: 0; /* LTR */
}
.tabs ul.secondary li a {
  padding: 0.25em 0.5em;
}
.tabs ul.secondary li a.active {
  background: #f2f2f2;
  border-bottom: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
ul.action-links {
  list-style: none;
  margin: 5px;
  padding: 0.5em 1em;
}
ul.action-links li {
  display: inline-block;
  margin-left: 10px;
}
ul.action-links li a {
  padding-left: 15px;
  margin: 0 10px 0 0;
}